<div class="bshare-custom">
	<a title="" class="bshare-weixin"></a>
	<a title="" class="bshare-douban"></a>
	<a title="" class="bshare-youdaonote"></a>
	<a title="" class="bshare-sinaminiblog"></a>
	<a title="Facebook" class="bshare-facebook"></a>
	<a title="Twitter" class="bshare-twitter"></a>
	<a title="" class="bshare-more bshare-more-icon more-style-addthis"></a>
	<span class="BSHARE_COUNT bshare-share-count">0</span>
</div>

<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=3&amp;lang=zh"></script>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>



<div class="share">
	
    <div class="bdsharebuttonbox">
    	
			<a href="#" class="bds_weixin" data-cmd="weixin" title="">WeChat</a>
			<a href="#" class="bds_tsina" data-cmd="tsina" title="">Sina</a>
			<a href="#" class="bds_fbook" data-cmd="fbook" title="Facebook">Facebook</a>
			<a href="#" class="bds_twi" data-cmd="twi" title="Twitter">Twitter</a>
			<a href="#" class="bds_more" data-cmd="more">More</a>
		</div>
    
</div>

<script>
window._bd_share_config = {
	    "common": {
	        "bdSnsKey": {},
	        "bdText": "",
	        "bdMini": "2",
	        "bdMiniList": false,
	        "bdPic": "",
	        "bdStyle": "0",
	        "bdSize": "40"
	    },
	    "share": {
	        "bdSize": 40
	    }
	};

	with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~ ( - new Date() / 36e5)];
</script>